<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<settings>
<setting name="mapUnderscoreToCamelCase" value="true"/>
</settings>
<typeAliases>
<typeAlias type="com.sh.papago.vo.PapagoInfo" alias="papago"/>
<typeAlias type="com.sh.papago.vo.UserVo" alias="user"/>
<typeAlias type="com.sh.papago.vo.PapagoStatsVo" alias="stats"/>
</typeAliases>
  <mappers>
    <mapper resource="mybatis/mapper/papago-info(m).xml"/>
    <mapper resource="mybatis/mapper/user-info(m).xml"/>
    <mapper resource="mybatis/mapper/papago-stats(m).xml"/>
  </mappers>
</configuration>